#map{
  height: 100%;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
}

/* Career type  */
html.design {
	background: url('../img/glasses.jpg') no-repeat right 90px scroll;
	background-size: 116%;
	overflow-x: hidden;
}

html.trucking {
	background: url('../img/trucking.jpg') no-repeat right 90px scroll;
	background-size: 116%;
	overflow-x: hidden;
}

html.business {
	background: url('../img/business.jpg') no-repeat right 90px scroll;
	background-size: 116%;
	overflow-x: hidden;
}

html.nursing {
	background: url('../img/nursing.jpg') no-repeat right 90px scroll;
	background-size: 116%;
	overflow-x: hidden;
}

body{ background-color:transparent!important; }

select { -moz-appearance: window; }


/* Top Learning Header */

#learning-header { font-family: 'avenir'; font-size:12px; text-transform: uppercase; font-weight:600; background: #000; }

#learning-header a { color:white; }

#learning-header .nav-pills>li>a { border-radius: 0px; padding:8px 16px; }

#learning-header .nav-pills>li+li { margin: 0px; }


/** Page-wide colors **/

/*  Business  */
html.business nav li.hidden-xs a:hover, html.business #learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active, 
html.business #learning-header .nav-pills>li>a:hover, html.business .color, html.trucking .subjects.nav-pills > li > a:hover, 
.subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret,  html.business #footer { 
	background:#008841;
}

/*  Trucking  */
html.trucking nav li.hidden-xs a:hover, html.trucking #learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active, 
html.trucking #learning-header .nav-pills>li>a:hover, html.trucking .color, html.trucking .subjects.nav-pills > li > a:hover, 
.subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret, html.trucking #footer{ 
	background:#7a3129;
}

/*  Design  */
html.design nav li.hidden-xs a:hover, html.design #learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active, 
html.design #learning-header .nav-pills>li>a:hover, html.design .color, html.design .subjects.nav-pills > li > a:hover, 
.subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret, html.design #footer { 
	background:#3ea8af;
}

/*  Nursing  */
html.nursing nav li.hidden-xs a:hover, html.nursing #learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active, 
html.nursing #learning-header .nav-pills>li>a:hover, html.nursing .color, html.nursing .subjects.nav-pills > li > a:hover, 
.subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret, html.nursing #footer { 
	background:#28ADEA;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent !important;
}

.subjects.nav-pills > li > a:hover, .subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret,
.subjects.nav a .caret:hover {
	color: white; 
	background: transparent;
	border-bottom-color: white; 
	border-top-color: white; 
	opacity: .75
}



/* Main Header */

.cs-brand{ margin-left: 10px; }

.cs-brand img { width: 209px; margin-top:6px }

.responsive .navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
	min-height: 53px;
	border: none;
}

.navbar-toggle .icon-bar { background: #FFF }

.subjects a {
	color: white;
	font-family: Avenir;
	font-weight: 600;
	line-height: 35px;
	font-size: 14px;
	letter-spacing: -.25px;
}

.subjects.nav a .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.subjects.nav-pills > li > a { border-radius:0; padding: 12px 0px; letter-spacing: -.5px; }

.subjects.nav-pills > li > a:first-child {
	padding-right: 9px;
	padding-left: 12px;
}

.nav li.span {
	padding: 12px 7px;
	color: #FFF;
	font-weight:300;
	line-height:35px;
}

#sign-in-up-nav li a, #sign-in-up-nav li{
	line-height: 58px;
  	color: #fff;
  	padding: 0 6px;
  	text-align: center;
}

#sign-in-up-nav > li > a:hover, #sign-in-up-nav > li > a:focus{
	background: transparent;
	opacity: .7;
	color: #fff
}

.homepage #content-wrapper {
  	position: relative;
  	min-width: 0;
  	background-color: transparent;
}

.content-with-bg{
	padding-top: 45px;
}

.trans {
	background: rgba(250, 250, 250, 0.35);
	display: block;
	margin-top: -10px;
	padding: 7px 0;
	text-align: center;
}


/* School Finder form */

.headline {
	margin-top: 44px;
	margin-bottom: 40px;
	margin-left:20px;
	font-family: 'avenir';
	font-size: 38px;
	color: white;
	font-weight: lighter;
	text-shadow: 1px 1px 1px #333;
	text-align: left;
	letter-spacing:.8px; 
	max-width: 74%;
}
.school-finder h3 { font-family: 'avenir'; text-align: center}

.school-finder .form-inline .form-group { text-align: left; margin-bottom: 15px; }

.school-finder label { font-size: 15px; color:#FFF; font-weight:800; font-family: 'Avenir'; letter-spacing: .5px }

.controls.half-size input { height: 29px; }

.school-finder input, .school-finder input:focus { 
	border: none; 
	box-shadow: none; 
	font-size: 17px;
	font-family: 'avenir';
	font-weight: 400px;
	color: #86a1a3; 
}

.homepage #content-wrapper .container .school-finder {
	max-width: 475px;
	text-align: left;
	padding:21px 24px;
	margin-top: 27px;
	margin-bottom: 50px;
	margin-left: 20px;
	background-color: rgba(250, 250, 250, 0.35);
	-webkit-border-radius: 1px 3px 3px 3px;
	 -moz-border-radius: 1px 3px 3px 3px;
	      border-radius: 1px 3px 3px 3px;
	-webkit-background-clip: padding-box;
	 -moz-background-clip: padding;
	      background-clip: padding-box;
	text-shadow: 0px 1px 1px #444
}

.homepage #content-wrapper .container .school-finder form .form-group .controls {
	position: relative;
	padding: 5px 0;
	margin-right: 10px;
	overflow: hidden;
	background: url('../img/down-caret-teal.png') no-repeat 96% center #ffffff;
	background-color: #fff;
	border: 3px solid #bed0d1;
	-webkit-border-radius: 0.6666666666666666px;
	 -moz-border-radius: 0.6666666666666666px;
	      border-radius: 0.6666666666666666px;
	-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
	      box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}

#content-wrapper .container .school-finder form .form-group select,
.homepage #content-wrapper .container .school-finder form .form-group select {
	width: 400px;
	height: 28px;
	padding: 0;
	margin-left: 10px;
	font-size: 17px;
	font-family: 'avenir';
	font-weight: 400px;
	color: #86a1a3;
	background: transparent;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	cursor: pointer
}

.homepage #content-wrapper .container .school-finder form .form-group .half-size select {
 	width:200px;
}

.homepage #content-wrapper .container .school-finder form .form-group .controls.half-size { 
	width: 206px; 
	margin-right:0px;
	background: url('../img/down-caret-teal.png') no-repeat 97% center #ffffff; 
}

.homepage #content-wrapper .container .school-finder form .form-group#div_id_education .controls.half-size { margin-right:10px; }

#div_id_user_type { margin-right: 10px; }

.homepage #content-wrapper .container .school-finder .form-intro {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.school-finder h3 {
	padding: 0;
	margin: 0px auto 22px;
	font-size: 21px;
	line-height: 27px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	max-width: 298px
}

.school-finder button.btn-action:hover { background-color: #f4f402 }
.school-finder button.btn-action { 
	font-size:19px; 
	background: #e3e307; 
	font-weight: 800; 
	padding: 11px 62px;
	margin: 15px auto 8px;
	display: block;
	box-shadow: 0 1px 0 #333;
}


/**    1 2 3 Steps   **/

.steps-wrapper{
    margin:12px
}
.inside{
	color: #404040;
	z-index: 9999;
	position: absolute;
	font-size: 16px;
	margin-top: 6px;
	padding-left: 9px;
	text-align: left;
}

.big-number{ 
	font-size: 76px;
	float: left;
	width: 66px;
	padding-left: 11px;
}

.step-title {
	font-size: 33px;
	color: #23a3ab;
	margin-top:-4px;
}

.step-text{
	line-height: 20px;
	max-width: 247px;
	margin-top: -3px;
}

.inside .b {
	display: block;
	font-weight: 600;
	letter-spacing: -.6px;
}

.chevron {
	position: relative;
	text-align: center;
	padding: 12px;
	margin-bottom: 6px;
	height: 137px;
	width: 300px;
	display:inline-block;
	font-family: 'avenir';
	color: #404040;
	cursor: pointer;
}

.chevron:hover:after, .chevron:hover:before { 
    background-color:rgba(250, 250, 250, 1)
}

.chevron:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 51.15%;
	width: 100%;
	background: rgba(250, 250, 250, 0.70);
	-webkit-transform: skew(25deg, 0deg);
	-moz-transform: skew(25deg, 0deg);
	-ms-transform: skew(25deg, 0deg);
	-o-transform: skew(25deg, 0deg);
	transform: skew(25deg, 0deg);
}

.chevron:after {
	content: '';
	position: absolute;
	top: 70px;
	right: 0;
	height: 51%;
	width: 100%;
	background: rgba(250, 250, 250, 0.7);
	-webkit-transform: skew(-25deg, 0deg);
	-moz-transform: skew(-25deg, 0deg);
	-ms-transform: skew(-25deg, 0deg);
	-o-transform: skew(-25deg, 0deg);
	transform: skew(-25deg, 0deg);
}




/* Main Body */
		
.content-with-bg{ 
	background-color: white;
}

.title { 
	font-family: 'Avenir';
	font-size:18px;
	font-weight:800;
	margin-top:50px;
}


div.title:first-child { margin-top: 0; }

li.hidden-xs.gap { margin-left: 160px }








/* Media Queries */



@media screen and (min-width:0px) and (max-width:470px) {

	html.nursing, html.design, html.business  { background-size: 110%; background-position: center 112px }

	html.trucking {	background: url('../img/trucking.jpg') no-repeat right 60px scroll; background-size: 100%; }

	.headline { font-size:25px; margin: 15px 0 40px 10px; line-height:27px; }

}

@media screen and (min-width: 470px) {

		.dropdown-toggle .hidden-xs { display: inline-block !important; }

}

@media screen and (min-width: 470px) and (max-width: 768px) {

	html.trucking, html.nursing, html.design, html.business  { background-size: 110%; background-position: center 112px }

	.headline {
		margin-top: 15px;
		margin-bottom: 55px;
		margin-left: 9px;
		padding-left:0px;
		padding-right:60px;
		font-family: 'avenir';
		font-size: 33px;
		color: white;
		font-weight: lighter;
		text-shadow: 0px 1px 0px #333;
		text-align: left;
		letter-spacing: .8px;
		max-width:90%
	}

}

@media screen and (max-width: 768px) {

	#learning-header { font-size:9px; }

	#learning-header .nav-pills > li > a { border-radius: 0px; padding: 8px 6px; }

	.homepage #content-wrapper .container .school-finder { margin-left:0; }

	.spacer { margin-top: -70px; }

	#sign-in-up-nav li a, #sign-in-up-nav li { line-height: 29px; }
	
	#sign-in-up-nav li:last-child { margin: 0px 0 1px; }

	.navbar-collapse { box-shadow: inset 0 0px 0 rgba(255,255,255,0); }

	.subjects.nav-pills > li > a { padding:0px 0 3px }

	.nav li.span { padding:0px 0 3px }

	ul.subjects.nav.nav-pills.pull-left { float: none!important; }

	.homepage #content-wrapper .container .school-finder { 
		max-width: 100%;
		background-color: #777;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		border: 10px solid #333;
		background-clip: padding-box;
		text-shadow: 0px 1px 1px #444;
 }

	.homepage #content-wrapper .container .school-finder form .form-group .controls { margin-right: 0px }

	.homepage #content-wrapper .container .school-finder form .form-group .controls.half-size { width: 100%; } 

	.homepage #content-wrapper .container .school-finder { margin-bottom:0; }
	
	.trans {
		display: block;
		margin: 0px 0 37px;
		padding: 0px 0;
	}

	.img-responsive {
		/*background: rgba(25, 25, 25, 0.25); */
		padding: 10px 0;
	}
	.gray-bg {
 		 background: #f5f5f5; 
	}
	#div_id_user_type {
		margin-right: 0px;
	}
	.chevron {
		width:100%;
		border-bottom: 5px solid #333;
		margin:0;
		height: 135px;
		padding: 12px 12px 12px 3px
	}
	.chevron:before, .chevron:after {
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
	   content:;
	  position: absolute;
	  right: 0;
	  height: 0;
	  width: 0;
	}
	.steps-wrapper {
		margin: 0 0px;
	}
	.step-text {
	    display: block;
	    line-height: 22px;
	    margin-left: 64px;
	    margin-top: 8px;
	    max-width: 667px;
	}
	.big-number{ 
		line-height: 50px;
		font-size: 54px;
		float: left;
		width: 49px;
		text-align: center;
		padding-left: 0px;
		padding-top: 11px;
	}
	.step-title {
		font-size: 13px;
		color: #23a3ab;
		margin-top: 0px;
		display:block;
		height: 14px;
		text-align: center;
		width: 52px;
		}
	.inside {
		width: 100%;
		padding-left: 0
	}

}


@media screen and (min-width: 768px) {

	.homepage #content-wrapper {
	  	position: relative;
	  	min-width: 0;
	  	background-color: transparent;
	  	max-height: 785px;
	  }

}

@media screen and (min-width: 768px) and (max-width:1130px) {

	 html.trucking, html.nursing, html.design, html.business  {
		background-position: right 90px;
		background-size: 130%;
	}
	.headline {
		margin-top: 28px;
		margin-bottom: 26px;
		margin-left: 20px;
		line-height:41px;
	}
	.trans{
		margin-top:-30px;
		padding: 10px 0 2px
	}
	.chevron{
		width: 253px
	}
	.big-number {
		font-size: 66px;
		float: left;
		width: 50px;
		padding-left: 3px;
	}

}

@media screen and (max-width:1100px) {

	li.hidden-xs.gap {
		display:none!important;
	}

}

@media screen and (min-width: 768px) and (max-width: 980px) {
	
	.trans {
		background: rgba(210, 210, 210, 1);
	}

	.chevron{
		width: 239px
	}

}

@media screen and (min-width: 1000px) {

	.subjects.nav.nav-pills.pull-left { margin-left: 40px }

	ul.nav.nav-pills.pull-right {

		margin-right: -2%;

	}

}

@media screen and (min-width: 990px) and (max-width: 1520px) {

	.content-with-bg{
		background:url('../img/gray.png') no-repeat 968px 45px scroll #FFF;
	}

}

@media screen and (min-width: 1520px) and (max-width:2180px) {

	.content-with-bg{
		background:url('../img/gray.png') no-repeat 1300px 45px scroll #FFF;
	}

}

@media screen and (min-width:2180px) and (max-width:2800px) {

	.content-with-bg{
		background:url('../img/gray.png') no-repeat 1677px 45px scroll #FFF;
	}

}

@media screen and (min-width:2800px) {

	.content-with-bg{
		background: #FFF;
	}

}