/* Top Learning Header */
.design-color { background: #3ea8af; }
#learning-header { font-family: 'avenir'; font-size:12px; text-transform: uppercase; font-weight:600; background: #000; }
#learning-header a { color:white; }
#learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active { background: #3ea8af; }
#learning-header .nav-pills>li>a:hover { background: #3ea8af }
#learning-header .nav-pills>li>a { border-radius: 0px; padding:8px 17px; }
#learning-header .nav-pills>li+li { margin: 0px; }

@media screen and (max-width: 767px) {
  .homepage #content-wrapper {
    background-image: none!important;
  }
  #learning-header { font-size:9px; }
}

/* Main Header */
.cs-brand{ margin-left: 10px; }
.cs-brand img { width: 210px; }
.responsive .navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
	min-height: 53px;
	border: none;
}
.navbar-toggle .icon-bar { background: #FFF }
.subjects a {
	color: white;
	font-family: Avenir;
	font-weight: 600;
	line-height: 35px;
	font-size: 14px;
	letter-spacing: -.25px;
}
.subjects.nav a .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.subjects.nav-pills > li > a { border-radius:0; padding: 12px 0px; letter-spacing: -.5px; }
.subjects.nav-pills > li > a:hover, .subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret { 
	color:#3ea8af; 
	border-bottom-color:#3ea8af; 
	border-top-color:#3ea8af; 
}
.subjects.nav-pills > li > a:first-child {
	padding-right: 9px;
	padding-left: 12px;
}
.nav li.span {
	padding: 12px 7px;
	color: #FFF;
	font-weight:300;
	line-height:35px;
}
#sign-in-up-nav li a, #sign-in-up-nav li{
	line-height: 58px;
  	color: #fff;
  	padding: 0 9px
}
#sign-in-up-nav > li > a:hover, #sign-in-up-nav > li > a:focus{
	background: transparent;
	opacity: .7;
	color: #fff
}
.homepage #content-wrapper {
  	position: relative;
  	min-width: 0;
  	background-color: transparent;
  	background-image: url('assets/img/glasses.jpg');
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: 100%;
}