html {
	background: url('../img/glasses.jpg') no-repeat center 90px scroll;
	background-size: cover;
	overflow-x: hidden;
}

body{ background-color:transparent!important;}

select { -moz-appearance: window; }


/* Top Learning Header */

.design-color { background: #3ea8af; }

#learning-header { font-family: 'avenir'; font-size:12px; text-transform: uppercase; font-weight:600; background: #000; }

#learning-header a { color:white; }

#learning-header .nav-pills>li.active>a, .nav-pills>li.active>a:focus li:active { background: #3ea8af; }

#learning-header .nav-pills>li>a:hover { background: #3ea8af }

#learning-header .nav-pills>li>a { border-radius: 0px; padding:8px 16px; }

#learning-header .nav-pills>li+li { margin: 0px; }


/* Main Header */

.cs-brand{ margin-left: 10px; }

.cs-brand img { width: 209px; margin-top:6px }

.responsive .navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
	min-height: 53px;
	border: none;
}

.navbar-toggle .icon-bar { background: #FFF }

.subjects a {
	color: white;
	font-family: Avenir;
	font-weight: 600;
	line-height: 35px;
	font-size: 14px;
	letter-spacing: -.25px;
}

.subjects.nav a .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.subjects.nav-pills > li > a { border-radius:0; padding: 12px 0px; letter-spacing: -.5px; }

.subjects.nav-pills > li > a:hover, .subjects.nav-pills > li > a:focus, .subjects.nav-pills a:hover .caret { 
	color:#3ea8af; 
	border-bottom-color:#3ea8af; 
	border-top-color:#3ea8af; 
}

.subjects.nav-pills > li > a:first-child {
	padding-right: 9px;
	padding-left: 12px;
}

.nav li.span {
	padding: 12px 7px;
	color: #FFF;
	font-weight:300;
	line-height:35px;
}

#sign-in-up-nav li a, #sign-in-up-nav li{
	line-height: 58px;
  	color: #fff;
  	padding: 0 7px
}

#sign-in-up-nav > li > a:hover, #sign-in-up-nav > li > a:focus{
	background: transparent;
	opacity: .7;
	color: #fff
}

.homepage #content-wrapper {
  	position: relative;
  	min-width: 0;
  	background-color: transparent;
  	/*background-image: url('../img/glasses.jpg');
  	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: 100%; */
}



/* School Finder form */

.headline {
	margin-top: 44px;
	margin-bottom: 40px;
	margin-left:20px;
	font-family: 'avenir';
	font-size: 38px;
	color: white;
	font-weight: lighter;
	text-shadow: 1px 1px 1px #333;
	text-align: left;
	letter-spacing:.8px; 
	max-width: 65%;
}
.school-finder h3 { font-family: 'avenir'; text-align: center}

.school-finder .form-inline .form-group { text-align: left; margin-bottom: 15px; }

.school-finder label { font-size: 15px; color:#FFF; font-weight:800; font-family: 'Avenir' }

.controls.half-size input { height: 29px; }

.school-finder input, .school-finder input:focus { 
	border: none; 
	box-shadow: none; 
	font-size: 17px;
	font-family: 'avenir';
	font-weight: 400px;
	color: #86a1a3; 
}

.homepage #content-wrapper .container .school-finder {
	max-width: 475px;
	text-align: left;
	padding:27px 24px;
	margin-top: 27px;
	margin-bottom: 50px;
	margin-left: 20px;
	background-color: rgba(250, 250, 250, 0.25);
	-webkit-border-radius: 1px 3px 3px 3px;
	 -moz-border-radius: 1px 3px 3px 3px;
	      border-radius: 1px 3px 3px 3px;
	-webkit-background-clip: padding-box;
	 -moz-background-clip: padding;
	      background-clip: padding-box;
}

.homepage #content-wrapper .container .school-finder form .form-group .controls {
	position: relative;
	padding: 5px 0;
	margin-right: 10px;
	overflow: hidden;
	background: url('../img/down-caret-teal.png') no-repeat 96% center #ffffff;
	background-color: #fff;
	border: 3px solid #bed0d1;
	-webkit-border-radius: 0.6666666666666666px;
	 -moz-border-radius: 0.6666666666666666px;
	      border-radius: 0.6666666666666666px;
	-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
	      box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}

#content-wrapper .container .school-finder form .form-group select,
.homepage #content-wrapper .container .school-finder form .form-group select {
	width: 400px;
	height: 28px;
	padding: 0;
	margin-left: 10px;
	font-size: 17px;
	font-family: 'avenir';
	font-weight: 400px;
	color: #86a1a3;
	background: transparent;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	cursor: pointer
}

.homepage #content-wrapper .container .school-finder form .form-group .half-size select {
 	width:200px;
}

.homepage #content-wrapper .container .school-finder form .form-group .controls.half-size { 
	width: 206px; 
	margin-right:0px;
	background: url('../img/down-caret-teal.png') no-repeat 92% center #ffffff; 
}

.homepage #content-wrapper .container .school-finder form .form-group#div_id_education .controls.half-size { margin-right:10px; }

.homepage #content-wrapper .container .school-finder .form-intro {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.school-finder h3 {
	padding: 0;
	margin: 0px auto 22px;
	font-size: 22px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	max-width: 298px
}

.school-finder button.btn-action:hover { background-color: #f4f402 }
.school-finder button.btn-action { 
	font-size:19px; 
	background: #e3e307; 
	font-weight: 800; 
	padding: 11px 62px;
	margin: 15px auto 8px;
	display: block;
	border-bottom:1px solid #111;
}


/* Main Body */

.spacer {
    margin-top: 150px; /* define margin as you see fit */
}

.title { 
	font-family: 'Avenir';
	font-size:18px;
	font-weight:800;
	margin-top:50px;
}

.gray-bg {
	background:#f5f5f5
}


div.title:first-child { margin-top: 0; }




/* Media Queries */

@media screen and (max-width:470px) {

		html {  background-position: -153px 119px;  background-size: 162% auto; }

}

@media screen and (min-width: 470px) {

		.dropdown-toggle .hidden-xs { display: inline-block !important; }

}

@media screen and (min-width: 470px) and (max-width: 768px) {

		html { background-size: 110%; background-position: center 112px }

}

@media screen and (max-width: 768px) {

	#learning-header { font-size:9px; }

	#learning-header .nav-pills > li > a { border-radius: 0px; padding: 8px 10px; }

	.homepage #content-wrapper .container .school-finder { margin-left:0; }

	.spacer { margin-top: -70px; }

	.headline {
		margin-top: 15px;
		margin-bottom: 180px;
		margin-left: 9px;
		padding-left:0px;
		padding-right:60px;
		font-family: 'avenir';
		font-size: 21px;
		color: white;
		font-weight: lighter;
		text-shadow: 0px 1px 0px #333;
		text-align: left;
		letter-spacing: .8px;
		max-width:90%
	}

	#sign-in-up-nav li a, #sign-in-up-nav li { line-height: 29px; }
	
	#sign-in-up-nav li:last-child { margin: 0px 0 1px; }

	.navbar-collapse { box-shadow: inset 0 0px 0 rgba(255,255,255,0); }

	.subjects.nav-pills > li > a { padding:0px 0 3px }

	.nav li.span { padding:0px 0 3px }

	ul.subjects.nav.nav-pills.pull-left { float: none!important; }

	.homepage #content-wrapper .container .school-finder { 
		max-width: 100%;
		background-color: #777;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		border: 10px solid #333;
		background-clip: padding-box;
 }

	.homepage #content-wrapper .container .school-finder form .form-group .controls { margin-right: 0px }

	.homepage #content-wrapper .container .school-finder form .form-group .controls.half-size { width: 100%; } 

}

@media screen and (max-width: 1000px) and (min-width:768px) {

	#sign-in-up-nav li a, #sign-in-up-nav li { padding: 0 4px }

	.subjects.nav-pills > li > a { padding:12px 0}

	.nav li.span { padding:12px 0 }

	.headline {
		margin-top: 19px;
		margin-bottom: 16px;
		margin-left: 20px;
		font-family: 'avenir';
		font-size: 28px;
		max-width: 75%;
		line-height: 28px;
		}

}

@media screen and (min-width: 1000px) {

	.subjects.nav.nav-pills.pull-left { margin-left:40px }

	ul.nav.nav-pills.pull-right {
		margin-right: -2%;
	}

}

@media screen and (max-width:768px) and (min-width:290px)  {

	.spacer { margin-top: 10px; }

}

@media screen and (max-width:1200px) and (min-width:1000px)  {

	.spacer { margin-top: 50px; }

}


